<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{Строка номер: %L: [%d{dd-MMM-yyyy HH:mm}] %level - %F - %msg%n}{FATAL=red, ERROR=magenta, WARN=yellow, INFO=Cyan, DEBUG=green, TRACE=white}" disableAnsi="false"/>
        </Console>
        <File name="FileAppender" fileName="C:\tmp\application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="Строка номер: %L: [%d{dd-MMM-yyyy HH:mm}] %level - %F - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>